*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(100deg, blue, magenta);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.container{
    max-width: 540px;
    width: 100%;
    background-color: antiquewhite;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;  
}
.input{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

#button{
    background-color: maroon;
    border-radius: 20px;
    padding: 10px;
    width: 80px;
    color: aliceblue;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#input-box {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    border: none;
    
}

.checked{
    text-decoration: line-through;
}
#logo{
    width: 40px;
}
ul li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;

}
